p {
  font-family: "Courier New", Courier, monospace
}

h1 {
  font-family: "Courier New", Courier, monospace
}

h3 {
  font-family: "Courier New", Courier, monospace
}

a {
  color: black;
}


a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: white;
}

a:active {
  text-decoration: none;
}

.About {
  text-align: center;
  border-radius: 10px;
}

.Board {
  border:1px solid black;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  background-color: white;
  padding: 15px 0;
}

.red {
  background-color: red;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 10px;
}

#menu ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0px;
  width: 100%;
  border-radius: 10px;
  display: table;
  text-align: center;
}

#menu li {
  display: inline-block;
  float: none;
  padding: 25px;
}

#menu li:hover {
  background-color: grey;
}


#menu li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

#menu .active {
  background-color: #2C8F40;
}

#info {
  background-color: lightgrey;
  text-align: center;
  border-radius: 10px;
  font-family: "Courier New", Courier, monospace
}

#Learn {
  text-align: center;
  background-color: white;
  font-family: "Courier New", Courier, monospace
}

#Game {
  text-align: center;
  border-radius: 10px;
  font-family: "Courier New", Courier, monospace
}

#Play {
  text-align: center;
  border-radius: 10px;
  background-color: lightgrey;
  font-family: "Courier New", Courier, monospace
}

#Authors {
  text-align: center;
  font-family: "Courier New", Courier, monospace
}

#duck {
  width:250px;
  height:250px;
}

#about{
  text-align: center;
  background-color: lightgrey;
  border-radius: 10px;
}

#parameters {
  background-color: lightgrey;
}